import(methods,stats,splines,utils)
export(bindcount.chr)
export(bindcount)
export(createBinData)
export(peakcount.chr)
export(peakcount)
export(readBinFile)
export(tag2bin.chr)
export(tag2bin)
exportClasses(BinData)
exportClasses(CSSPFit)
exportMethods(callpeak)
exportMethods(cssp.fit)
exportMethods(cssp.power)
exportMethods(cssp.sim)
exportMethods(fit.freq)
exportMethods(pBBT)
exportMethods(qBBT)
useDynLib(CSSP)
